
//- Core
= '\r\n'
include ../../dist/vendors/style/bootstrap/3.3.6/bootstrap.fonts.min.css
= '\r\n'
include ../../dist/vendors/style/bootstrap-vertical-tabs/1.2.1/bootstrap.vertical-tabs.min.css
= '\r\n'
include ../../dist/vendors/admin/admin-lte/2.3.2/all-skins.min.css
//- Table
= '\r\n'
include ../../dist/vendors/table/datatables/1.10.9/dataTables.bootstrap.min.css
//- Editor
= '\r\n'
include ../../dist/vendors/editor/codemirror/4.7.0/codemirror.css
= '\r\n'
include ../../dist/vendors/editor/codemirror/4.7.0/theme/blackboard.css
= '\r\n'
include ../../dist/vendors/editor/codemirror/4.7.0/lint/lint.css
//- Tree
= '\r\n'
include ../../dist/vendors/tree/jstree/3.2.1/style.img.min._.css
//- Icon
= '\r\n'
include ../../dist/vendors/icon/font-awesome/4.5.0/font-awesome.woff.min.css
= '\r\n'
include ../../dist/vendors/icon/ionicons/2.0.1/ionicons.min.css
//- Checkbox
= '\r\n'
include ../../dist/vendors/checkbox/icheck/1.0.2/all.img.css
//- Select
= '\r\n'
include ../../dist/vendors/select/selectize/0.12.1/selectize.min.css
= '\r\n'
include ../../dist/vendors/select/selectize/0.12.1/selectize.bootstrap3.min.css
//- Admin
= '\r\n'
include ../../dist/vendors/admin/admin-lte/2.3.2/AdminLTE.min._.css
//- Progress
= '\r\n'
include ../../dist/vendors/progress/nprogress/0.2.0/nprogress.min.css
