
.col-md-12(style='padding-top: 5px;')
  input#content__list__id.form-control(type='text', placeholder='ID', style='width: 100%;')
.col-md-12(style='padding-top: 10px;')
  input#content__list__name.form-control(type='text', placeholder='Name', style='width: 100%;')
.col-md-12(style='padding-top: 10px;')
  input#content__list__date.form-control(type='text', placeholder='Date (DD/MM/YYYY)', style='width: 100%;')
.col-md-12(style='padding-top: 10px;')
  #content__list_wrapper
    table#content__list
