
//-.col-md-12(style='padding-top: 5px;')
  input#content__tree__id.form-control(type='text', placeholder='ID', style='width: 100%;', disabled)
.col-md-12(style='/*padding-top: 10px;*/')
  input#content__tree__name.form-control(type='text', placeholder='Name', style='width: 100%;')
//-.col-md-12(style='padding-top: 10px;')
  input#content__tree__date.form-control(type='text', placeholder='Date (DD/MM/YYYY)', style='width: 100%;', disabled)
.col-md-12(style='padding-top: 10px;')
  #content__tree
  